<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <nav>
      <ul class="nav">
        <li><a class="active" href="http://127.0.0.1:5000/webshop"> Home </a></li>
        <li><a href="http://127.0.0.1:5000/webshop/fantasy"> Fantasy </a></li>
        <li><a href="http://127.0.0.1:5000/webshop/sci-fi"> Sci-Fi </a></li>
      </ul>
    </nav>
    <div class="tekst">
      <h1>Fanatsy</h1>
      <h3>Als je op een film klikt krijg je meer informatie te zien.</h3>
    </div>
    <div class="films">
      <a href="http://127.0.0.1:5000/webshop/informatie/film1/The%20Maze%20Runner/7,99/Fantasy%20en%20Actie/Thomas%20wordt%20wakker%20in%20een%20lift.%20Hij%20kan%20zich%20niets%20herinneren%20van%20zijn%20verleden%2C%20maar%20hij%20zit%20nu%20met%20een%20groep%20jongens%20gevangen%20in%20een%20labyrint.%20Samen%20moeten%20zo%20proberen%20om%20een%20uitweg%20te%20vinden%20uit%20het%20levensgevaarlijk%20doolhof."><img src="../static/images/the_maze_runner.jpg" alt="" width="200vw" ></a>
      <a href="http://127.0.0.1:5000/webshop/informatie/film2/Beauty%20and%20the%20Beasts/11,99/Fantasy/De%20jonge%20Belle%20wordt%20gevangengenomen%20door%20een%20Beest%20in%20zijn%20magische%20kasteel.%20Ze%20raakt%20bevriend%20met%20het%20betoverende%20personeel%20en%20is%20al%20snel%20in%20staat%20om%20verder%20te%20kijken%20dan%20het%20angstaanjagende%20uiterlijk%20van%20het%20Beest."><img src="../static/images/Beauty_and_the_Beast.jpg" alt="" width="200vw" ></a>
      <a href="http://127.0.0.1:5000/webshop/informatie/film3/Fantastic%20Beasts/11,99/Fantasy%20en%20Avontuur/Newt%20Scamander%20heeft%20zijn%20wereldwijde%20excursie%20voor%20het%20vastleggen%20van%20fabeldieren%20afgerond%20en%20maakt%20een%20tussenstop%20in%20New%20York.%20Zijn%20bezoek%20loopt%20volledig%20uit%20de%20hand%20als%20een%20aantal%20van%20de%20fabeldieren%20ontsnapt%20uit%20zijn%20magische%20koffer."><img src="../static/images/fantastic_beast.jpg" alt="" width="200vw" ></a>
      <a href="http://127.0.0.1:5000/webshop/informatie/film4/The%20mortal%20intruments:%20City%20of%20Bones/5,99/Fantasy%20en%20Actie/Tiener%20Clary%20ontdekt%20na%20de%20verdwijning%20van%20haar%20moeder%20dat%20ze%20speciale%20gaven%20heeft.%20Ze%20sluit%20zich%20aan%20bij%20een%20groep%20schaduwjagers%2C%20die%20de%20wereld%20beschermt%20door%20te%20strijden%20tegen%20demonen."><img src="../static/images/The_mortal_instruments.jpg" alt="" width="200vw" ></a>
      <a href="http://127.0.0.1:5000/webshop/informatie/film5/Harry%20Potter/10,99/Fantasy/Harry%20heeft%20zich%20altijd%20buitengesloten%20gevoeld%20door%20zijn%20familie.%20Op%20zijn%20elfde%20verjaardag%20verneemt%20hij%20dat%20zijn%20overleden%20ouders%20twee%20machtige%20tovenaars%20waren.%20Ook%20hij%20beschikt%20over%20magische%20krachten%20en%20mag%20daarom%20naar%20school%20op%20Hogwarts."><img src="../static/images/harry_potter.jpg" alt="" width="200vw" ></a>
      <a href="http://127.0.0.1:5000/webshop/informatie/film6/Lord%20of%20the%20Rings/12,99/Fantasy%20en%20Avontuur/Extended%20Versie.%20De%20Hobbit%20Frodo%20krijgt%20bij%20toeval%20een%20bijzondere%20ring%20in%20zijn%20bezit.%20Om%20te%20zorgen%20dat%20de%20duivelse%20Lord%20Sauron%20de%20ring%20niet%20terug%20krijgt%20moet%20Frodo%20een%20lange%20tocht%20maken%20naar%20de%20plaats%20waar%20hij%20de%20Ring%20kan%20vernietigen."><img src="../static/images/Lord_of_the_rings.jpg" alt="" width="200vw" ></a>
      <a href="http://127.0.0.1:5000/webshop/informatie/film7/Narnia/9,99/Fantasy/Vier%20kinderen%20komen%20via%20een%20magische%20kledingkast%20in%20het%20betoverde%20land%20van%20Narnia%2C%20waar%20ze%20de%20strijd%20aangaan%20met%20de%20slechte%20heks%20Jadis."><img src="../static/images/narnia.jpg" alt="" width="200vw" ></a>
      <a href="http://127.0.0.1:5000/webshop/informatie/film8/The%20never%20ending%20story/46,49(Blu-Ray)/Fantasy/Een%20jongen%20duikt%20in%20een%20wondere%20fantasiewereld%20door%20middel%20van%20de%20pagina%E2%80%99s%20van%20een%20mysterieus%20boek."><img src="../static/images/The_never_ending_story.jpg" alt="" width="200vw" ></a>
    </div>
    <p></p>
  </body>
</html>
