<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films Webshop</title>
  </head>
  <body>
    <nav>
      <ul class="nav">
        <li><a class="active" href="http://127.0.0.1:5000/webshop"> Home </a></li>
        <li><a href="http://127.0.0.1:5000/webshop/fantasy"> Fantasy </a></li>
        <li><a href="http://127.0.0.1:5000/webshop/sci-fi"> Sci-Fi </a></li>
      </ul>
    </nav>
    <div class="header">
      <h1>Movieshop</h1>
      <h3>Welkom, hier kan je films kopen.</h3>
      <p>Je kunt verschillende films vinden, op dit moment hebben we alleen film met het genre Fantasy en Sci-Fi</p>
    </div>
    <div class="top5">
      <h3>Dit zijn op dit moment de meest populaire films</h3>
      <p>De namen van de films zijn linksjes.</p>
      <br>
      <ol>
        <li> <a href="https://www.pathe-thuis.nl/film/32316/1917">1917</a> - 2019 - Oorlog/Drama</li>
        <li> <a href="https://en.wikipedia.org/wiki/Hamilton_(2020_film)">Hamilton</a>  - 2020 - Musical/Drama </li>
        <li> <a href="https://nl.wikipedia.org/wiki/The_Trial_of_the_Chicago_7">The trial of the Chicago 7</a> - 2020 - Drama/Geschiedenis </li>
        <li> <a href="https://www.pathe-thuis.nl/film/32381/jojo-rabbit">Jojo Rabbit</a> - 2019 - Oorlog/Komedie</li>
        <li> <a href="https://www.pathe-thuis.nl/film/33205/tenet">Tenet</a> - 2020 - Actie/Sci-Fi </li>
      </ol>
    </div>
    <div class="img">
        <img src="../static/images/films.jpg" alt="">
    </div>
  </body>
</html>
